body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:steelblue;
  margin: 0;
}

h1 {
  color: #354487;
  font-style: italic;
  font-size: 3.5rem;
  font-weight: inherit;
  text-align: center;
  margin: 0;
}

main {
  background-color: white;
  border: 1px solid rgb(177, 198, 236);
  max-width: 500px;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px #0003,0 25px 50px #0000001a;
}

main > div,
main > form {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(177, 198, 236);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

input {
  font-size: 100%;
  padding: 8px;
  border: 0;
  width: 100%;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

input:placeholder-shown {
  font-style: italic;
}

button {
  background-color: rgb(177, 198, 236);
  border-color: #0000001a;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 100%;
  white-space: nowrap;
  cursor: pointer;
}